<%
	// css.push("homepage") //为此页增加css
	js.push("ckeditor/ckeditor") //为此页增加 js
%>
<%_menu = "paper"%>
<%include header%>
<h3 class="header-text">页面信息 <span class="sub-header">页面的信息内容</span></h3>
<%
	breadcrumb.push({name:"页面列表",url:"/admin/paper"});
	breadcrumb.push({name:"编辑页面"});
%>
<%include breadcrumb%>
<div class="row user-profile-wrapper">
	<div class="col-sm-12">
		<div class="smart-widget">
			<div class="smart-widget-inner">
				<div class="smart-widget-body">
					<div class="tab-content">
						<div class="tab-pane fade active in" id="profileTab2">
							<h4 class="header-text m-top-md">页面信息设置</h4>
							<form class="form-horizontal m-top-md" name="paperpost" method="post" action="/admin/paper/edit_post/<%=paper._id%>">
									<div class="form-group">
											<label class="col-sm-2 control-label">标题</label>
											<div class="col-sm-6">
													<input type="text" name="title" class="form-control" value="<%=paper.title%>">
											</div>
									</div>
									<div class="form-group">
											<label class="col-sm-2 control-label">链接</label>
											<div class="col-sm-6">
													<div class="input-group">
														<span class="input-group-addon"><%=config.host%>/page/</span>
														<input type="text" name="url" class="form-control" value="<%=paper.url%>">
													</div>
											</div>
									</div>
									<div class="form-group">
											<label class="col-sm-2 control-label">内容</label>
											<div class="col-sm-9">
													<!-- <input type="text" name="title" class="form-control"> -->
													<textarea name="content" id="content" class="ckeditor"><%-paper.content%></textarea>
											</div>
									</div>
									<div class="form-group m-top-lg">
											<label class="col-sm-2 control-label"></label>
											<div class="col-sm-6">
													<a class="btn btn-default" onclick="post([name=paperpost])">修改</a>
													<input type="reset" class="btn btn-info m-left-xs" value="重置" />
											</div>
									</div>															
							</form>
						</div><!-- ./tab-pane -->
					</div><!-- ./tab-content -->
				</div><!-- ./smart-widget-body -->
			</div><!-- ./smart-widget-inner -->
		</div>
	</div>
</div>

<%include footer%>
